@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Righteous&family=Roboto:wght@300&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  background-color: #eee;
  color: #666;
}
/*navbar*/
#main-nav {
  flex-grow: 1;
  display: flex;
  justify-content: space-around;
  align-items: center;
  
}
#main-nav li {
  background-color: #d90368;
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  font-size: 15px;

}
#main-nav li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}
#main-nav li a:hover {
  border-bottom: 4px solid white;
  color: #1c74bb;
}
img {
  width: 20%;
  height: 10%;
}
/*slide*/
#slides svg {
  font-size: 50px;
  font-family: "Lobster", serif;
  color: white;
}
#slide1 {
  background-color: lightcoral;
}
.slide2 {
  background: lightblue;
}
.slide3 {
  background: lightgreen;
}
.slide4 {
  background: lightskyblue;
}
.slide5 {
  background: lightseagreen;
}
/*checkbox*/

#checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
 
}
#checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
#checkb {
  margin-top: 10px;
  margin-bottom: 20px;
}
/*search*/

#buscador {
  color: white;
  font-size: 25px;
  display: flex;
  font-weight: bold;
  background-color: #d90368;
  border-radius: 4px;
  border: none;
}
/*cards*/
#flexbox {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
}

.flexcardNumber {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  margin: 10px 0px;
  border-radius: 0px 50px 50px 0px;
  font-family: "Jost", sans-serif;
  color: white;
  text-shadow: 0px 3px 5px black;
  font-weight: 500;
  font-size: 20px;
  position: relative;
}

.flexcardTitle {
  font-family: "Righteous", sans-serif;
  font-size: 26px;
  font-weight: 400;
}

.flexcardNumber:before {
  content: "";
  width: 34px;
  height: 90px;
  position: absolute;
  left: -33px;
  top: 0px;
  border-radius: 50px 0px 0px 50px;
  z-index: -1;

  background: -moz-linear-gradient(bottom, #95b7a2, #aed2bc);
}

.flexcardNumber:after {
  content: "";
  width: 25px;
  height: 40px;
  position: absolute;
  left: -25px;
  bottom: -40px;
  border-radius: 50px 0px 0px 50px;
  z-index: -1;
}

.flex {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 10px auto;
}

img.flexcardimgItem {
  width: 100%;
  height: 200px;
}

/* GREEN CARD */

.flexcardGreen {
  background: #f9fbfa;
  box-shadow: 4px 4px 4px #aed2bc;
}
.flexcardGreen:before {
  content: "";
  width: 0px;
  height: 50px;
  position: absolute;
  bottom: 0;
  right: 0;
  border-left: 100px solid transparent;
  border-bottom: 90px solid #aed2bc;
}
.flexcardNumberGreen {
  background: #fcfcfc;
  background: -webkit-linear-gradient(right, #fcfcfc, #aed2bc);
  background: -moz-linear-gradient(right, #fcfcfc, #aed2bc);
  background: linear-gradient(to left, #fcfcfc, #aed2bc);
  box-shadow: 0px 2px 2px #aed2bc;
}

.flexcardNumberGreen:before {
  background: #aed2bc;
}

.flexcardNumberGreen:after {
  background: #aed2bc;
}
.price {
  margin-top: 50px;
  display: flex;
  align-items:first baseline;
}
.priceText {
  margin-left: 15px;
  font-family: "Righteous", sans-serif;
  font-size: 26px;
  font-weight: 400;
}
.buttongreen {
  background-color: #72dde0;
  border: none;
  border-radius: 10px;
  padding-left: 1px;
  font-weight: bold;
  color: black;
  text-align: center;
}
.buttonblue {
  background-color: #2196f3;
  border: none;
  border-radius: 10px;
  padding: 10px;
  font-weight: bold;
  color: black;
  text-align: center;
}
.buttonorange {
  background-color: #d06f02;
  border: none;
  border-radius: 10px;
  padding: 10px;
  font-weight: bold;
  color: black;
  text-align: center;
}
.buttonpink {
  background-color: #f34eae;
  border: none;
  border-radius: 10px;
  padding: 10px;
  font-weight: bold;
  color: black;
  text-align: center;
}
.buttongold {
  background-color: gold;
  border: none;
  border-radius: 10px;
  padding: 10px;
  font-weight: bold;
  color: black;
  text-align: center;
}
.buttonmediumorchid {
  background-color: mediumorchid;
  border: none;
  border-radius: 10px;
  padding: 10px;
  font-weight: bold;
  color: black;
  text-align: center;
}
/*card blue*/
.flexcardBlue {
  background: #f7ffff;
  box-shadow: 4px 4px 4px #6691d1;
}
.flexcardBlue:before {
  content: "";
  width: 0px;
  height: 50px;
  position: absolute;
  bottom: 0;
  right: 0;
  border-left: 100px solid transparent;
  border-bottom: 90px solid #6691d1;
}
.flexcardNumberBlue {
  background: #fdfffe;
  background: -webkit-linear-gradient(right, #fdfffe, #6691d1);
  background: -moz-linear-gradient(right, #fdfffe,#6691d1);
  background: linear-gradient(to left, #fdfffe, #6691d1);
  box-shadow: 0px 2px 2px #6691d1;
}

.flexcardNumberBlue:before {
  background: #6691d1;
}

.flexcardNumberBlue:after {
  background: #6691d1;
}

/* ORANGE CARD */

.flexcardOrange {
  background: #fdf8f3;
  box-shadow: 4px 4px 4px #f68404;
}

.flexcardNumberOrange {
  background: #fdfffe;
  background: -webkit-linear-gradient(right, #fdfffe, #f68404);
  background: -moz-linear-gradient(right, #fdfffe, #f68404);
  background: linear-gradient(to left, #fdfffe, #f68404);
  box-shadow: 0px 2px 2px #f68404;
}
.flexcardOrange:before {
  content: "";
  width: 0px;
  height: 50px;
  position: absolute;
  bottom: 0;
  right: 0;
  border-left: 100px solid transparent;
  border-bottom: 90px solid #f68404;
}

.flexcardNumberOrange:before {
  background: #f68404;
}

.flexcardNumberOrange:after {
  background: #d06f02;
}

/* PİNK CARD */

.flexcardPink {
  background: #fffafd;
  position: relative;
  box-shadow: 4px 4px 4px #f34eae;
  border-radius: 20px 20px 0px 20px;
}
.flexcardPink:before {
  content: "";
  width: 0px;
  height: 50px;
  position: absolute;
  bottom: 0;
  right: 0;
  border-left: 100px solid transparent;
  border-bottom: 90px solid #f34eae;
}
.flexcardNumberPink {
  background: #fdfffe;
  background: -webkit-linear-gradient(right, #fdfffe, #f34eae);
  background: -moz-linear-gradient(right, #fdfffe, #f34eae);
  background: linear-gradient(to left, #fdfffe, #f34eae);
  box-shadow: 0px 2px 2px #f34eae;
}

.flexcardNumberPink:before {
  background: #f34eae;
}

.flexcardNumberPink:after {
  background: #d24095;
}

/* MEDIUMORCHILD CARD */

.flexcardMediumorchid {
  background: #fffafd;
  position: relative;
  box-shadow: 4px 4px 4px mediumorchid;
  border-radius: 20px 20px 0px 20px;
}
.flexcardMediumorchid:before {
  content: "";
  width: 0px;
  height: 50px;
  position: absolute;
  bottom: 0;
  right: 0;
  border-left: 100px solid transparent;
  border-bottom: 90px solid mediumorchid;
}
.flexcardNumberMediumorchid {
  background: #fdfffe;
  background: -webkit-linear-gradient(right, #fdfffe, mediumorchid);
  background: -moz-linear-gradient(right, #fdfffe, mediumorchid);
  background: linear-gradient(to left, #fdfffe, mediumorchid);
  box-shadow: 0px 2px 2px mediumorchid;
}

.flexcardNumberMediumorchid:before {
  background: mediumorchid;
}

.flexcardNumberMediumorchid:after { 
  background: mediumorchid;
}

/* GOLD CARD */

.flexcardGold {
  background: #fffafd;
  position: relative;
  box-shadow: 4px 4px 4px gold;
  border-radius: 20px 20px 0px 20px;
}
.flexcardGold:before {
  content: "";
  width: 0px;
  height: 50px;
  position: absolute;
  bottom: 0;
  right: 0;
  border-left: 100px solid transparent;
  border-bottom: 90px solid gold;
}
.flexcardNumberGold {
  background: #fdfffe;
  background: -webkit-linear-gradient(right, #fdfffe, gold);
  background: -moz-linear-gradient(right, #fdfffe, gold);
  background: linear-gradient(to left, #fdfffe, gold);
  box-shadow: 0px 2px 2px gold;
}

.flexcardNumberGold:before {
  background: gold;
}

.flexcardNumberGold:after {
  background: gold;
}
/*footer*/
.container-footer{
  background: #d90368;
  color: white;
 width: 100%;
 height: 300px;
 margin-top: 15px;

}
.social h3{
  margin-top: 5px;
  padding-bottom: 30px;
  height: 30px;
}
footer a {
 color: white;
  font-weight: bold;
  font-family: 'Righteous', sans-serif;
}
footer a:hover {
  color: #1c74bb;
}

footer .three-column li {
  float: left;
  padding: 15px;
  background-color: lightpink;
  border-radius: 50%;
  margin-right: 10px;
  margin-left: 15px;
}
#img-mindhub {

  margin-right: 15px;
  padding-top: 15px;
  height: 150px;

}
#title-mindhub h3{
  bottom: 45px;
  position: relative;
  display: flex;
  justify-content: flex-end;
  margin-right: 100px;
}
.img-mindhub{
  display: flex;
  justify-content: flex-end;
margin-right: 30px;
}
.footer-title {
  font-family: "Lobster", sans-serif;
  font-size: 22px;
}
footer .copyright {
  padding: 15px;
  padding-bottom: 30px;
  background: lightpink;
  color: #1c74bb;
  font-size: 40px;
  text-align: center;
  font-weight: bold;
  margin-top: 20px;
  font-size: 15px;
}
/*tabla*/
/*tabla*/
table {
  width: 50%;
	height: auto;

 }

 th, tr, 
 td {
   padding: .2rem;
   border: 1px solid black;
   text-align: center;
   font-weight: bold;
 }
 th {
   text-align: left;
   background-color: #d24095;
   color: white;
 }
 thead tr:first-child,
 thead tr:first-child th {
   background-color: #d90368;
   text-align: center;
   font-size: 1.125rem;
 }
 
 tbody tr:nth-child(even){
   background-color: rgba(138, 56, 123, 0.432);
 }
 
 .table-scroll { 
   overflow:visible;
 }
 #borderTable{
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #080808;
  color: #eee;
 }
 /*contact*/
 .container-form {
  padding-top: 20px;
  padding-bottom: 20px;
}
form {
  bottom: -85px;
  width: 500px;
  padding: 20px;
  border-radius: 10px;
  margin: auto;
  background-color: lightpink;
  box-shadow: 0.3rem 0.3rem 1rem rgba(0, 0, 0, 0.6);
}

form label {
  width: 72px;
  font-weight: bold;
  display: inline-block;
}

form input[type="text"],
form input[type="email"] {
  width: 380px;
  padding: 13px 10px;
  border: 1px solid #f6f6f6;
  border-radius: 3px;
  background-color: #f6f6f6;
  margin: 8px 0;
  display: inline-block;
}

form input[type="submit"] {
  width: 50%;
  padding: 8px 16px;
  margin-top: 32px;
  justify-content: center;
  border: none;
  border-radius: 5px;
  display: block;
  color: #fff;
  background-color: #d90368;
  font-weight: bold;
}

form input[type="submit"]:hover {
  cursor: pointer;
}

textarea {
  width: 100%;
  height: 100px;
  border: none;
  border-radius: 5px;
  background-color: #f6f6f6;
  margin: 8px 0;
  display: block;
}
#cardDetails{
  margin-left: 223px;
  
}
/*details*/
.flexcardimgItem1{
  float: right;
  position: absolute;
  right: 10px;
  width: 45%;
  height: 318px;
}
.flexcardImg1{
  width: 100%;
  height: 10px;
  max-height: max-content;
}
.dtails-subtitle{
    font-size: 15px;
    font-weight: bold;
    color:black;
}